/* *{
    margin: 0;
    padding: 0;
} */

.testTitle{
    /* font-size: xx-large;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; */
    /* background-image: url(1.jpg) cover; */

    background: url(/assets/header.png) no-repeat top fixed;
    background-size: contain;
    object-fit: cover;
    width: 100%;
    height: calc(100vw * 0.142)

}

#cheatCover{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    -webkit-backdrop-filter: blur(10px);
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.cheatAlert{
    color:darkred;
}
header{
    margin-bottom: 10px;
}

/* .radio-colors + label {
    text-align: left;
} */


/* Footer */
footer{
    display: flex;
    margin-top: 20px;
}
#returnButton{
    margin-left: auto;
}


#headerField{
    font-size: x-large;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1em 0;
}

.test{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.question {
    border:3px solid gray;
    border-radius: 10px;
    padding: 0.8em 0.2em;
    font-size: x-large;
    text-align: center;
    animation: testCardAppear 0.5s linear forwards;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, azure, white, azure);
    /* background: linear-gradient(to bottom right, ivory, white, ivory); */
    /* background: linear-gradient(to bottom right, snow, white, snow); */
    box-shadow: rgba(0, 0, 0, 0.25) 6px 6px 10px 0px;

}
.questionText{
    text-align: center;
}
.answer{
    width:max-content;
    align-self: center;
    border:3px solid gray;
    border-radius: 10px;
    /* font-size: x-large; */
    font-size: inherit;
}
.drawRectangle{
    background-color: gray;
}
.rightAlign{
    text-align: right;
    padding-right:2rem;

}
.controls{
    font-size: larger;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}
.correctAnswer{

}
#topicField{
    /* margin-top: 10px; */
    font-size: large;
}
.topic{
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    font-weight: 500;
    font-size: x-large;
    -webkit-backdrop-filter: blur(10px);
    color: white;
 

    display:flex;
    flex-direction: row;






    padding: 10px 15px;
    margin-bottom: 5px;
    animation: topicSlide 0.5s linear forwards;
    visibility: hidden;
    margin-top: 1rem;
}
/* .topic:nth-child(2n){
    background-color: papayawhip;
} */
.invisible{
    display: none;
}
.hidden{
    visibility: hidden;
}
.answer-right{
    color: green;
}
.answer-wrong{
    color: darkred;
}
.question-right{
    border-color: green;
}
.question-wrong{
    border-color: darkred;
}


@keyframes topicSlide {
    0%   {opacity: 0;transform: translateX(-20px);visibility: visible;}
    100% {opacity: 1;transform: translateX(0);visibility: visible;}
}
@keyframes testCardAppear {
    0%   {opacity: 0;visibility: visible;}
    100% {opacity: 1;visibility: visible;}
}

.year{
    margin-top: 1rem;

    border-radius: 15px;
    /* background-image: linear-gradient(0deg, #3f5efb, #fc466b); */
    /* background-image: url(/assets/background.svg); */
    /* background-image: linear-gradient( 102.7deg, rgba(253,218,255,1) 8.2%, rgba(223,173,252,1) 19.6%, rgba(173,205,252,1) 36.8%, rgba(173,252,244,1) 73.2%, rgba(202,248,208,1) 90.9% ); */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    background-size: cover;


    display:flex;
    flex-direction: column;

    /* justify-content: space-around; */
    /* flex-flow: row wrap; */
    align-items: stretch;

}
.topic-label{
    font-size:7em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 0.1em;
    margin-bottom: -0.3em;
    /* position:absolute; */
    /* right: 0; */
    /* top:-0.1em; */

}
.topic-container{
    padding: 0.5em 1em;
    flex-grow: 1;
}



.tags{
    margin-left: auto;

}
.tag{
    font-weight: 900;
    font-size: 1.3em;
}
.topic div{
    pointer-events: none;
}


#settings{
     /* background-image: linear-gradient(0deg, #3f5efb, #fc466b); */
     background-image: url(/assets/settings.svg);
     /* background-image: linear-gradient( 102.7deg, rgba(253,218,255,1) 8.2%, rgba(223,173,252,1) 19.6%, rgba(173,205,252,1) 36.8%, rgba(173,252,244,1) 73.2%, rgba(202,248,208,1) 90.9% ); */
     box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
     background-size: cover;
     color:white;
     font-size: 1.5em;
     padding: 0.5em 1em;
     border-radius: 0.5em;
}
#numberOfQuestions input{
    font-size: inherit;
    border-radius: 0.5em;
}
#settingsHeader{
    font-size: 1.3em;
}




@media screen and (min-width: 1000px) {
    .year{
        flex-direction: row;
    }
    .topic-label{
        font-size:15em;
    }
    .topic{
        font-size: xx-large;

    }
    #settings{
        font-size:2em;
    }
}




























/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* [name="userSubAnswer"]{
    border: 0.2em solid black;

} */








